body {
    background-color: gainsboro;
    height: 90vh;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}
.Card{
    height: 75px;
    width:auto;
    padding-bottom:15px;
}
.row {
    padding-left: 20px;
    color: black !important;
}
h1 {
    color: black !important;
    padding-bottom: 30px;
}
.table{
    background-color:whitesmoke;
}
.accountDetails{
    display:flex;
    align-items:flex-start;
    color: black !important;
}
.accountRow {
    flex-grow: 6;
}
.cardImg{
    height:100px;
    width:auto;
}
.payment{
    width: 1000px !important;
    display:flex;
    justify-content:space-between;
}
.create {
    align-self: flex-end;
}
h3,h4,dd,dt{
    color:black !important;    
}
.payment-details {
    width: 1000px !important;
    display: flex;
}
.details-categories {
    margin-left:250px;
}
.btn-add-container{
    display:flex;
    flex-direction:row-reverse;
    margin-bottom:10px;
}
.btn-add {
    text-decoration: none;
}
.payment-icon{
    height:40px;
    width:auto;
    vertical-align:text-bottom;
}
#charts {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
}
.chart-container {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.search-container{
    padding-bottom:20px;
}