.row {
    color: black !important;
    display: flex;
    justify-content: center;
}
.payment{
    width: 1000px !important;
    display:flex;
    justify-content:space-between;
}
.final-column{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}
